body {    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0080ff;
    color: white;
    text-align: center;
}
.dropdownlist {
    width: 70%;
    height: 40px;
    border-radius:2px;
}
.botao {
    text-decoration: none;
    color: white;
}
.botao:hover {
    text-decoration: none;
    color: darkred;
}


